NODE_ENV=development
DATABASE_URL=postgres://postgres:password@localhost:6311/postgres?sslmode=disable
EDGE_WORKER_SECRET=dev-secret-change-in-production

# Cloudflare Account (for R2, AI, etc)
CLOUDFLARE_ACCOUNT_ID=xxx
CLOUDFLARE_API_TOKEN=xxx


# Resend Keys
RESEND_API_KEY=xxx
RESEND_FROM_EMAIL=xxx
